<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" name = "text/css" href = "/static/includes/styledup.css">
<link rel="stylesheet" href="/static/includes/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="/static/includes/js/jquery.js"> </script>

<title> Aboutus </title>

<style>


.heading table{
    width:66%;
    }
.heading td:hover{
    background-color:#E8E8E8;
}	
.heading table {
    border-collapse: collapse;
}

.ranktable th, td {
    text-align: left;
    padding: 10px;
	letter-spacing:.5px;
}
.rankbar td{
    font-family:Georgia;
	}

.ranktable tr:nth-child(even){background-color: #f2f2f2}

.ranktable th {
    background-color: RebeccaPurple;
    color: white;
	letter-spacing:.5px;
	font-family:Arial;
}	
.button{
    padding:10px;
	background-color:#F0F0F0;
	margin-top:30px;
	margin-bottom:20px;
	font-size:17;
	border-radius: 25px;
	font-family: Trebuchet MS;
}
.about{
    background-color:#F5F5F5;
}
.about h4{
    margin-bottom:20px;}
</style>

</head>

<body >
<script src="js/project.js"></script>
<script src="js/jquery.js"></script>

<!-- HEADER STARTS--> 




<!--HEADER ENDS-->

</div>
</div>
<!--NAVBAR STARTS-->
<div class = "topnav" id = "myTopnav">
    <a href="/"><i class="fa fa-home" style="font-size:30px;
					color:#ffffff;margin-top:-3px;margin-left:8px"></i></a>
     <a href = "/live" id = "score"> Live Scores </a> 
	 <a href = "/page2" target = "_blank"> Rankings </a>
	 <a href = "/schedules" target = "_blank">Schedule </a>
	 <a href = "/page4" target = "_blank">Teams </a>
	 
    <a style="color: rgb(253, 251, 251); font-size: large; font-weight: 800;" href = "/index" target = "_blank">Predict todays Match</a>
	<a href = "/aboutus" style = "float:right;">AboutUs </a>
	
	<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>

</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
	
}
</script>
<!--NAVBAR ENDS-->
 <h3 style = "margin-left:20px; margin-bottom:15px; margin-top:15px;">AboutUs & Feedback</h3>
<hr>
<!-- MAIN AREA -->
<div  class="container-fluid">
<div class="row">

  <!--LEFT SIDEBAR ENDS-->
 
  <!--MIDDLE STARTS-->	  
    <div class = "col-md-9" >
	 <h4> Feedback </h4>
	<p>Your feedback matters. Write to us if you have any questions, queries or suggestions regarding any page/content published on WorldCricInfo</p>
	<center><table>
	    <tr> <td colspan = "4"> <h2><center> Fill out the form </center></h2> </td> </tr>
		<tr> <td align = "right">*Name:</td>
		     <td> <input type = "text" size = "50" placeholder=" Name" required /> </td>
	    </tr> 
		
		<tr> <td align = "right"> *E-mail:</td>
		     <td> <input type = "text" size = "50" placeholder=" Email" required /> </td>
	    </tr>
		
		<tr> <td align = "right"> *Subject:</td>
		     <td> <input type = "text" size = "50"  placeholder=" Subject" required /> </td>
	    </tr>
		
		<tr> <td align = "right"> *Message:</td>
		     <td> <textarea rows="5" cols="50" style="border-radius:5px" required></textarea></td>
	    </tr>
		
		<tr>
		     <td colspan = "4"> <input type = "submit" name = "submit" value = "Submit" class="btn btn-primary" style = "margin-left:170px " />
                                                <input type = "reset" value = "Reset" class="btn btn-primary"/> </td>
	    </tr>
	</table></center>
    </div>
	
	<!--MIDDLE ENDS-->
	
  <!--RIGHT SIDEBAR STARTS-->
     <div class = "col-md-3 about">
     <center><h4> Contact Us </h4></center>
	 <span style = "letter-spacing:.5px; word-spacing:.5px; color:red;">Cricket Internet Services Pvt Ltd.
     LBS marg   <br>
      ghatkopar Mumbai  <br>

	    <br>
	 Maharashra, INDIA.         <br>
     Phone:8928715235      <br>  
	 email: crickomania@gmail.com.<br>
	</span>
  </div> 
 
  <!--RIGHT SIDEBAR ENDS-->
    </div>
  
 </div>
 <!--MAIN AREA ENDS-->

  
  <!--footer Starts-->
    
 <table class = "container-fluid foot">
  
 <table class="container-fluid" style="font-family:verdana;color:white">
 
 <tr style="background-color:#22262a"><td colspan="3">
	<b><h2><span style = "color:white;">C</span><span style="font-family:Book Antiqua;color:white;">ricko</span><span style="color:white;">M</span><span style="font-family:Book Antiqua;color:white;">ania</span></h2> 
	</b></td>
 <td colspan="1" style="float:right">
 <i>Follow Us On:</i>
 <a href="" class="fa fa-facebook" style="color:white;text-decoration:none;font-size:30px;padding:10px"></a>
 <a href="" class="fa fa-twitter" style="color:white;text-decoration:none;font-size:30px;padding:10px"></a>
 <a href=""class="fa fa-youtube"style="color:white;text-decoration:none;font-size:30px;padding:10px"></a></td></tr>
 
 </table>
  <div class="container-fluid end" style="font-family:verdana; background-color:#303030; padding:5px;">
  <div class="row foo">
  
    <div class="col-sm-4">
	<ul>
 <h5>About</h5>
 
  <li><a href="aboutus.htm">
 About Us</a></li>
 <li><a href="">Faq</a></li>
 <li><a href="">Contact Us</a></li>
 </ul>
 </div>
 <div class="col-sm-4">
 <ul>
 <h5>Mobilesite & Apps </h5>

  <li><a href="">Windows</a></li>
   <li><a href="">IOS</a></li>
    <li><a href="">Android</a></li>
	</ul>
	</div>
	
	<div class="col-sm-4">
	<ul>
 <h5>Company</h5>
 

 <li><a href="">Careers</a></li>
 <li><a href="">Advertise</a></li>
 <li><a href="">Privacy Policy</a></li>
 </ul>
 </div>
 </div>
 </div>
 </table>
 
</body>
</html>


